html, body {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

body {
  background: url("bgCode.jpeg") no-repeat right top;
  height:auto;
}


#content {
  width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

p {
  color: #888;
}

table, td {
  border: 1px solid #555;
}

code {
  font-weight: bold;
  color: #AAA;
}

#jody {
  width: 150px;
}
